workflows/00-autopilot.json
{
  "name": "00 - Autopilot (Autonomous SEO Blog)",
  "nodes": [
    {
      "id": "ap-trigger",
      "name": "Autopilot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "seo-autopilot",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "seo-autopilot"
    },
    {
      "id": "ap-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [480, 480],
      "parameters": {
        "respondWith": "text",
        "responseBody": "Autopilot started"
      }
    },
    {
      "id": "ap-config",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst incoming = raw.body || raw;\nconst config = {\n  SUPABASE_URL: 'YOUR_SUPABASE_URL',\n  SUPABASE_SERVICE_KEY: 'YOUR_SUPABASE_SERVICE_KEY',\n  ANTHROPIC_API_KEY: 'YOUR_ANTHROPIC_API_KEY',\n  SERPER_API_KEY: 'YOUR_SERPER_API_KEY',\n  MODEL_MAIN: 'claude-sonnet-4-6',\n  MODEL_FAST: 'claude-haiku-4-5-20251001',\n  GRYNOW_WEBSITE_ID: 'YOUR_GRYNOW_WEBSITE_ID',\n  MYWALL_WEBSITE_ID: 'YOUR_MYWALL_WEBSITE_ID',\n  IGYGROW_WEBSITE_ID: 'YOUR_IGYGROW_WEBSITE_ID',\n  DEPLOY_WEBHOOK_URL: 'http://host.docker.internal:7331/deploy',\n  DEPLOY_TOKEN: 'YOUR_DEPLOY_TOKEN',\n  DEFAULT_THUMBNAIL_URL: '',\n};\nreturn [{ json: { ...config, ...incoming } }];"
      }
    },
    {
      "id": "ap-runner",
      "name": "Autopilot Runner",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "jsCode": "const fetch=(u,o={})=>new Promise((res,rej)=>{const iH=u.startsWith('https');const lib=require(iH?'https':'http');const m=u.match(/^https?:\\/\\/([^/:]+)(?::(\\d+))?(\\/[^?#]*)?(\\?[^#]*)?/);if(!m)return rej(new Error('Bad URL: '+u));const body=o.body||null;const req=lib.request({hostname:m[1],port:m[2]?+m[2]:(iH?443:80),path:(m[3]||'/')+(m[4]||''),method:o.method||'GET',headers:{...(o.headers||{}),...(body?{'Content-Length':Buffer.byteLength(body)}:{})}},r=>{let d='';r.on('data',c=>d+=c);r.on('end',()=>res({ok:r.statusCode<300,status:r.statusCode,json:()=>Promise.resolve(JSON.parse(d||'null')),text:()=>Promise.resolve(d)}));});req.on('error',rej);if(body)req.write(body);req.end();});\n\nconst cfg = $('Config').first().json;\n\n// ── shared helpers ──────────────────────────────────────────────────────────\nconst sbUrl = cfg.SUPABASE_URL, sbKey = cfg.SUPABASE_SERVICE_KEY;\nconst sbH = { apikey: sbKey, Authorization: 'Bearer ' + sbKey, 'Content-Type': 'application/json' };\nasync function sbGet(p){ const r = await fetch(sbUrl+'/rest/v1/'+p,{headers:{apikey:sbKey,Authorization:'Bearer '+sbKey}}); return r.ok?r.json():[]; }\nasync function sbPatch(t,f,b){ await fetch(sbUrl+'/rest/v1/'+t+'?'+f,{method:'PATCH',headers:sbH,body:JSON.stringify(b)}); }\nasync function sbInsert(t,b){ const r = await fetch(sbUrl+'/rest/v1/'+t,{method:'POST',headers:{...sbH,Prefer:'return=representation'},body:JSON.stringify(b)}); return r.json(); }\n\nasync function claude(system,user,maxTokens,model){\n  let last;\n  for(let i=0;i<3;i++){\n    try{\n      const r = await fetch('https://api.anthropic.com/v1/messages',{method:'POST',headers:{'x-api-key':cfg.ANTHROPIC_API_KEY,'anthropic-version':'2023-06-01','Content-Type':'application/json'},body:JSON.stringify({model:model||cfg.MODEL_MAIN||'claude-sonnet-4-6',max_tokens:maxTokens||4096,system,messages:[{role:'user',content:user}]})});\n      const d = await r.json();\n      if(d.content&&d.content[0])return d.content[0].text;\n      last = new Error('Claude error: '+JSON.stringify(d).slice(0,300));\n    }catch(e){ last = e; }\n    await new Promise(res=>setTimeout(res,800*(i+1)));\n  }\n  throw last;\n}\nfunction parseJSON(text){\n  try{ const m = text.match(/\\`\\`\\`json\\s*([\\s\\S]*?)\\`\\`\\`/) || text.match(/([\\[{][\\s\\S]*[\\]}])/); return JSON.parse(m?m[1]:text); }\n  catch(e){ return { _parse_error:true, raw:String(text).substring(0,300) }; }\n}\n// Serper (Google SERP). Degrades gracefully to empty data if no key / on error,\n// so the SEO Agent still runs (LLM-only) rather than failing the pipeline.\nasync function serper(q){\n  if(!cfg.SERPER_API_KEY || String(cfg.SERPER_API_KEY).startsWith('YOUR_')) return {organic:[],peopleAlsoAsk:[],relatedSearches:[]};\n  try{\n    const r = await fetch('https://google.serper.dev/search',{method:'POST',headers:{'X-API-KEY':cfg.SERPER_API_KEY,'Content-Type':'application/json'},body:JSON.stringify({q,gl:'in',num:10})});\n    return (await r.json()) || {};\n  }catch(e){ return {organic:[],peopleAlsoAsk:[],relatedSearches:[],_serper_error:e.message}; }\n}\n\n// ── intake normalisation (goal-mode: just a keyword + a website) ─────────────\nconst keyword      = (cfg.keyword || cfg.goal || cfg.topic || '').trim();\nconst goal         = (cfg.goal || ('rank for ' + keyword)).trim();\nconst website_slug = cfg.website_slug || 'grynow';\nconst content_type = cfg.content_type || 'blog';\nlet   placement    = cfg.placement || 'off-page';\nif(!keyword) throw new Error('Autopilot requires a keyword or goal.');\n\nconst SITE_MAP = {\n  grynow:  { id: cfg.GRYNOW_WEBSITE_ID,  name: 'GryNow',  url: 'https://grynow.in' },\n  mywall:  { id: cfg.MYWALL_WEBSITE_ID,  name: 'MyWall',  url: 'https://mywall.me' },\n  igygrow: { id: cfg.IGYGROW_WEBSITE_ID, name: 'Igygrow', url: 'https://www.igygrow.com' },\n};\nconst site = SITE_MAP[website_slug] || SITE_MAP.grynow;\nconst websiteId = site.id, websiteName = site.name, websiteUrl = cfg.website_url || site.url;\n\n// ── site context: knowledge base + real internal links ───────────────────────\nconst [kbData, ilData] = await Promise.all([\n  sbGet('knowledge_base?select=category,content&or=(website_id.eq.'+websiteId+',website_id.is.null)').catch(()=>[]),\n  sbGet('internal_links?select=url,title,h1&website_id=eq.'+websiteId+'&limit=40').catch(()=>[]),\n]);\nconst kb = {}; (Array.isArray(kbData)?kbData:[]).forEach(d=>{ kb[d.category]=d.content; });\nconst businessKnowledge = [kb['business-overview'], kb['site-overview']].filter(Boolean).join('\\n\\n') || 'Digital platform.';\nconst brandVoice = kb['brand-voice'] || 'Professional, clear, value-focused.';\nconst competitorsKb = kb['competitors'] || 'None on file.';\nconst internalList = (Array.isArray(ilData)?ilData:[]).map(l=>'- '+(l.title||l.h1||'(page)')+' — '+l.url).join('\\n') || 'No internal pages on file yet.';\n\n// ══════════════════════ STAGE 0 — SEO AGENT (Senior SEO Lead) ════════════════\nconst serpRaw = await serper(keyword);\nconst serpData = {\n  organic: (serpRaw.organic||[]).slice(0,10).map(o=>({title:o.title,link:o.link,snippet:o.snippet})),\n  peopleAlsoAsk: (serpRaw.peopleAlsoAsk||[]).map(p=>p.question).filter(Boolean),\n  relatedSearches: (serpRaw.relatedSearches||[]).map(r=>r.query).filter(Boolean),\n};\n\nconst seoSys = 'You are a Senior SEO Lead. You make EVERY strategic SEO decision before any content is written. Downstream agents consume your brief verbatim and must never infer anything you omit. Ground keywords/competitors/gaps/PAA/related in the SERP data; ground business facts in the business knowledge. Never invent statistics, competitor claims, or internal URLs. Use ONLY the provided internal pages for internal links. Respect: meta title <=60 chars, meta description <=155 chars, kebab-case slug, one H1, logical H2>H3. Return ONLY valid JSON.';\nconst seoMsg = 'Business goal: '+goal+'\\nSeed keyword: '+keyword+'\\nWebsite: '+websiteName+' ('+websiteUrl+'), slug '+website_slug+'\\nPlacement: '+placement+' (on-page = brand says \"we\"; off-page = third party)\\nContent type: '+content_type+'\\n\\nBusiness & site knowledge (do not contradict):\\n'+businessKnowledge+'\\n\\nBrand voice: '+brandVoice+'\\nKnown competitors: '+competitorsKb+'\\n\\nExisting internal pages (use ONLY these real URLs for internal links):\\n'+internalList+'\\n\\nLive SERP data for the seed keyword:\\n'+JSON.stringify(serpData,null,2)+'\\n\\nReturn ONLY JSON in EXACTLY this shape:\\n{\"goal\":\"\",\"primary_keyword\":\"\",\"placement\":\"'+placement+'\",\"content_type\":\"'+content_type+'\",\"business\":{\"model\":\"\",\"products\":\"\",\"icp\":\"\",\"audience\":\"\",\"positioning\":\"\",\"industry\":\"\"},\"website_understanding\":{\"fits_cluster\":\"\",\"reinforces\":\"\",\"notes\":\"\"},\"keywords\":{\"primary\":\"\",\"secondary\":[],\"long_tail\":[],\"semantic\":[],\"questions\":[],\"commercial\":[],\"informational\":[]},\"serp\":{\"intent\":\"informational\",\"top_competitors\":[{\"url\":\"\",\"strengths\":[],\"weaknesses\":[],\"missing\":[],\"opportunity\":\"\"}],\"content_gaps\":[],\"featured_snippet\":{\"opportunity\":\"\",\"format\":\"paragraph\"},\"paa\":[],\"related_searches\":[]},\"topical_authority\":{\"pillar\":\"\",\"cluster\":[],\"supporting_articles\":[]},\"links\":{\"internal\":[{\"url\":\"\",\"anchor\":\"\",\"placement\":\"\"}],\"outbound\":[{\"url\":\"\",\"anchor\":\"\",\"placement\":\"\"}]},\"content_plan\":{\"angle\":\"\",\"h1\":\"\",\"outline\":[{\"level\":\"h2\",\"text\":\"\",\"notes\":\"\"}],\"faqs\":[{\"q\":\"\",\"a_hint\":\"\"}],\"cta\":{\"text\":\"\",\"placement\":\"end\"}},\"metadata\":{\"meta_title\":\"\",\"meta_description\":\"\",\"slug\":\"\",\"canonical\":\"\",\"og\":{\"title\":\"\",\"description\":\"\",\"type\":\"article\",\"image\":\"\"},\"twitter\":{\"card\":\"summary_large_image\",\"title\":\"\",\"description\":\"\"}},\"schema\":[\"Article\",\"BlogPosting\",\"FAQPage\",\"BreadcrumbList\"]}';\n\nconst seo_brief = parseJSON(await claude(seoSys, seoMsg, 8000));\nif(seo_brief._parse_error) throw new Error('SEO Agent returned unparseable brief: '+seo_brief.raw);\nplacement = seo_brief.placement || placement;\nconst bm = seo_brief.metadata || {};\nconst bp = seo_brief.content_plan || {};\nconst bk = seo_brief.keywords || {};\n\n// derive request fields from the brief\nconst topic = bp.h1 || keyword;\nconst keywordsArr = [bk.primary, ...(bk.secondary||[]), ...(bk.long_tail||[])].filter(Boolean).slice(0,25);\n\n// create the content_requests row now that the SEO strategy exists\nconst reqRows = await sbInsert('content_requests', {\n  website_id: websiteId, placement, content_type, topic,\n  keywords: keywordsArr.length?keywordsArr:[keyword], goal, seo_brief,\n  status: 'researching',\n});\nconst requestId = (Array.isArray(reqRows)&&reqRows[0]&&reqRows[0].id) || null;\nif(!requestId) throw new Error('Failed to create content_requests row: '+JSON.stringify(reqRows).slice(0,300));\n\n// outline seed from the brief (H1 + the SEO agent's H2/H3 plan)\nconst outlineSeed = ['# '+(bp.h1||topic)].concat((bp.outline||[]).map(o=>((o.level==='h3')?'### ':'## ')+o.text+(o.notes?(' — '+o.notes):''))).join('\\n') || 'Propose a sensible structure.';\n\n// ══════════════════════ STAGE 1 — CONTENT RESEARCHER ═════════════════════════\nconst researchSys = 'You are a Senior Content Researcher. You prepare structured research notes a writer will expand — you do NOT write the article and you do NOT do SEO (that is already decided). For each outline section: explain the concept simply; gather key facts/insights; list reader questions; find examples/use-cases; note supporting data; note misconceptions; list subtopics; write writer notes. Return ONLY valid JSON.';\nconst researchMsg = 'Topic: '+topic+'\\nContent type: '+content_type+'\\nTarget audience: '+((seo_brief.business||{}).audience||'General readers')+'\\nSearch intent: '+((seo_brief.serp||{}).intent||'informational')+'\\nBusiness/site knowledge (factual grounding — do not contradict):\\n'+businessKnowledge+'\\nOutline (from the SEO brief):\\n'+outlineSeed+'\\n\\nReturn ONLY JSON: {\"target_audience\":\"\",\"search_intent\":\"informational\",\"sections\":[{\"heading\":\"\",\"key_points\":[],\"reader_questions\":[],\"examples\":[],\"supporting_data\":[],\"misconceptions\":[],\"subtopics\":[],\"writer_notes\":\"\"}]}';\nconst researchNotes = parseJSON(await claude(researchSys, researchMsg, 4096));\nawait sbPatch('content_requests','id=eq.'+requestId, { research_brief: researchNotes, status: 'strategizing' });\n\n// ══════════════════════ STAGE 2 — CONTENT PLANNER ═══════════════════════════\nconst toneHint = placement==='on-page' ? 'FIRST PERSON — the brand speaks as \"we\"/\"our\".' : 'THIRD PERSON — refer to the brand by name, never \"we\".';\nconst planSys = 'You are a Senior Content Planner. Turn the research notes into a firm editorial plan the writer follows exactly. The SEO strategy (outline, intent, angle) is ALREADY decided in the brief — CONFIRM and refine it for content quality; do not re-do SEO. Return ONLY valid JSON.';\nconst planMsg = content_type+' | '+placement+' -> '+toneHint+'\\nTopic: '+topic+'\\nSEO angle: '+(bp.angle||'')+'\\nOutline (authoritative, from SEO brief):\\n'+outlineSeed+'\\n\\nResearch Notes:\\n'+JSON.stringify(researchNotes).slice(0,6000)+'\\n\\nReturn ONLY JSON: {\"target_audience\":\"\",\"search_intent\":\"informational\",\"word_count_target\":0,\"word_count_rationale\":\"\",\"depth\":\"in-depth\",\"depth_rationale\":\"\",\"tone\":\"\",\"content_angle\":\"\",\"outline\":[{\"level\":\"h1\",\"text\":\"\",\"notes\":\"\"}],\"cta_text\":\"\",\"cta_placement\":\"end\",\"special_instructions\":\"\"}';\nconst contentPlan = parseJSON(await claude(planSys, planMsg, 4096));\nawait sbPatch('content_requests','id=eq.'+requestId, { strategy_brief: contentPlan, status: 'drafting' });\n\n// ══════════════════════ STAGE 3 — CONTENT WRITER ════════════════════════════\nconst toneD = placement==='on-page'\n  ? 'FIRST PERSON — You ARE '+websiteName+'. Use \"we\",\"our\",\"us\". Never third person.'\n  : 'THIRD PERSON — Authoritative writer. Refer to '+websiteName+' by name. NEVER \"we\"/\"our\".';\nconst internalLinksStr = ((seo_brief.links||{}).internal||[]).map(l=>'- ['+l.anchor+']('+l.url+') — place: '+(l.placement||'where relevant')).join('\\n') || 'None.';\nconst outboundLinksStr = ((seo_brief.links||{}).outbound||[]).map(l=>'- ['+l.anchor+']('+l.url+') — place: '+(l.placement||'where relevant')).join('\\n') || 'None.';\nconst faqStr = (bp.faqs||[]).map(f=>'- '+f.q+(f.a_hint?(' (hint: '+f.a_hint+')'):'')).join('\\n') || 'None.';\nconst kwStr = [bk.primary,...(bk.secondary||[]),...(bk.long_tail||[])].filter(Boolean).join(', ');\n\nconst writerSys = 'You are a Senior Content Writer for '+websiteName+'.\\n\\nTONE: '+toneD+'\\n\\nBusiness: '+businessKnowledge+'\\nBrand Voice: '+brandVoice+'\\n\\nFollow the outline exactly. Expand the research notes into clear, engaging, EEAT-aligned content. Short scannable paragraphs, bullets/lists where useful, logical flow, no repetition. Match the brand voice. Grounding: use only facts/data/examples in the research notes — never invent sources, numbers or claims. Naturally weave in the target keywords (do NOT keyword-stuff). Insert the given internal and outbound links as real Markdown links with the exact anchor text, placed where indicated. End with an FAQ section (H2 \"FAQs\") answering the given questions, and include the CTA at its placement. Output ONLY the article in Markdown starting with the H1 — no metadata, notes, or commentary.';\nconst writerMsg = 'Topic: '+topic+'\\nContent type: '+content_type+' | Placement: '+placement+'\\nTarget audience: '+(contentPlan.target_audience||(seo_brief.business||{}).audience||'General readers')+'\\nSearch intent: '+(contentPlan.search_intent||(seo_brief.serp||{}).intent||'informational')+'\\nTarget length: '+(contentPlan.word_count_target||1200)+' words (+-10%) | Depth: '+(contentPlan.depth||'in-depth')+'\\nContent angle: '+(contentPlan.content_angle||bp.angle||'')+'\\nCTA: '+((bp.cta||{}).text||contentPlan.cta_text||'')+' (placement: '+((bp.cta||{}).placement||contentPlan.cta_placement||'end')+')\\nKeywords to weave in naturally: '+kwStr+'\\nInternal links to insert:\\n'+internalLinksStr+'\\nOutbound links to insert:\\n'+outboundLinksStr+'\\nFAQs to answer:\\n'+faqStr+'\\nSpecial instructions: '+(contentPlan.special_instructions||'None')+'\\n\\nOutline (follow exactly):\\n'+outlineSeed+'\\n\\nResearch Notes:\\n'+JSON.stringify(researchNotes).slice(0,8000)+'\\n\\nWrite the full '+content_type+' now. Output ONLY Markdown starting with the H1.';\nconst draftMd = (await claude(writerSys, writerMsg, 8096)).trim();\nawait sbPatch('content_requests','id=eq.'+requestId, { status: 'humanizing' });\n\n// ══════════════════════ STAGE 4 — HUMANIZER & AI-DETECTION ═══════════════════\nconst humanSys = 'You are a Senior Editor. Make this AI-drafted article read like an experienced human wrote it, WITHOUT changing meaning or SEO. Remove AI tells (formulaic openers, \"In conclusion\", \"It is important to note\", \"Not only... but also\", over-hedging). Vary sentence rhythm (burstiness). Improve transitions and vocabulary variety. Tighten filler. HARD CONSTRAINTS — never break: preserve every fact/number/name/quote; keep all keywords present and naturally placed; keep the H1 and full H2/H3 hierarchy (no adding/dropping/reordering/renaming sections); preserve EVERY Markdown link and its anchor text exactly; preserve lists/tables/code/blockquotes; stay within +-10% of the original length. You are an editor, not an author — do not add information. Output ONLY the improved Markdown starting with the H1.';\nconst humanMsg = 'Primary keyword: '+(bk.primary||keyword)+'\\nBrand voice: '+brandVoice+'\\nPlacement: '+placement+'\\n\\nArticle:\\n'+draftMd;\nlet contentMd = (await claude(humanSys, humanMsg, 8096)).trim();\nif(!contentMd || contentMd.length < draftMd.length*0.5) contentMd = draftMd; // safety: never ship an empty/gutted humanizer output\n\nconst wordCount = (contentMd.replace(/[#>*_\\`\\[\\]()\\-]/g,' ').match(/\\b[\\w']+\\b/g)||[]).length;\n\n// ── save the version (draft; deploy marks it published) ──────────────────────\nconst verRows = await sbInsert('content_versions', {\n  request_id: requestId, version_number: 1, content_markdown: contentMd, word_count: wordCount, status: 'draft',\n});\nconst versionId = (Array.isArray(verRows)&&verRows[0]&&verRows[0].id) || null;\nawait sbPatch('content_requests','id=eq.'+requestId, { current_version: 1 });\n\nreturn [{ json: {\n  request_id: requestId, version_id: versionId,\n  website_slug, website_name: websiteName, website_url: websiteUrl,\n  topic, content_type, placement,\n  seo_brief, content_markdown: contentMd, word_count: wordCount,\n  serper_used: !(serpRaw.organic===undefined) && (serpData.organic.length>0),\n}}];"
      }
    },
    {
      "id": "ap-thumb",
      "name": "Thumbnail Agent (stub)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "jsCode": "const fetch=(u,o={})=>new Promise((res,rej)=>{const iH=u.startsWith('https');const lib=require(iH?'https':'http');const m=u.match(/^https?:\\/\\/([^/:]+)(?::(\\d+))?(\\/[^?#]*)?(\\?[^#]*)?/);if(!m)return rej(new Error('Bad URL: '+u));const body=o.body||null;const req=lib.request({hostname:m[1],port:m[2]?+m[2]:(iH?443:80),path:(m[3]||'/')+(m[4]||''),method:o.method||'GET',headers:{...(o.headers||{}),...(body?{'Content-Length':Buffer.byteLength(body)}:{})}},r=>{let d='';r.on('data',c=>d+=c);r.on('end',()=>res({ok:r.statusCode<300,status:r.statusCode,json:()=>Promise.resolve(JSON.parse(d||'null')),text:()=>Promise.resolve(d)}));});req.on('error',rej);if(body)req.write(body);req.end();});\n\n// ============================================================================\n// THUMBNAIL GENERATOR AGENT — STUB\n// The real generator does not exist yet (user will supply it). This stub keeps\n// the pipeline autonomous by returning a deterministic thumbnail URL following\n// the deploy-agent's per-slug convention. When the real agent is ready, replace\n// ONLY the body below — keep the same input ($json from the runner) and the same\n// output contract: { ...$json, thumbnail_url, thumbnail_alt }.\n//   INPUT : { seo_brief, website_url, topic, ... }\n//   OUTPUT: adds thumbnail_url (image URL) + thumbnail_alt (alt text)\n// ============================================================================\nconst cfg = $('Config').first().json;\nconst r = $json;\nconst brief = r.seo_brief || {};\nconst slug = (brief.metadata && brief.metadata.slug) || 'post';\nconst h1 = (brief.content_plan && brief.content_plan.h1) || r.topic || slug;\n\n// Placeholder: a per-target default (if configured) else the conventional path.\nconst thumbnail_url = cfg.DEFAULT_THUMBNAIL_URL\n  ? cfg.DEFAULT_THUMBNAIL_URL\n  : (r.website_url.replace(/\\/$/,'') + '/assets/blog/' + slug + '/thumbnail.webp');\n\nreturn [{ json: { ...r, thumbnail_url, thumbnail_alt: h1, thumbnail_stub: true } }];"
      }
    },
    {
      "id": "ap-deploy",
      "name": "Deploy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300],
      "parameters": {
        "jsCode": "const fetch=(u,o={})=>new Promise((res,rej)=>{const iH=u.startsWith('https');const lib=require(iH?'https':'http');const m=u.match(/^https?:\\/\\/([^/:]+)(?::(\\d+))?(\\/[^?#]*)?(\\?[^#]*)?/);if(!m)return rej(new Error('Bad URL: '+u));const body=o.body||null;const req=lib.request({hostname:m[1],port:m[2]?+m[2]:(iH?443:80),path:(m[3]||'/')+(m[4]||''),method:o.method||'GET',headers:{...(o.headers||{}),...(body?{'Content-Length':Buffer.byteLength(body)}:{})}},r=>{let d='';r.on('data',c=>d+=c);r.on('end',()=>res({ok:r.statusCode<300,status:r.statusCode,json:()=>Promise.resolve(JSON.parse(d||'null')),text:()=>Promise.resolve(d)}));});req.on('error',rej);if(body)req.write(body);req.end();});\n\nconst cfg = $('Config').first().json;\nconst r = $json;\nconst brief = r.seo_brief || {};\nconst md = r.content_markdown;\nconst meta = brief.metadata || {};\nconst sbUrl = cfg.SUPABASE_URL, sbKey = cfg.SUPABASE_SERVICE_KEY;\nconst sbH = { apikey: sbKey, Authorization: 'Bearer '+sbKey, 'Content-Type': 'application/json' };\n\nif(!md) throw new Error('Deploy skipped: no content_markdown');\nif(!cfg.DEPLOY_WEBHOOK_URL) throw new Error('Deploy skipped: DEPLOY_WEBHOOK_URL not configured');\n\nawait fetch(sbUrl+'/rest/v1/content_requests?id=eq.'+r.request_id,{method:'PATCH',headers:sbH,body:JSON.stringify({status:'deploying'})});\n\nconst body = {\n  target: r.website_slug,\n  markdown: md,\n  message: 'Publish: '+(r.topic||'post')+' [autopilot->deploy-agent]',\n  // SEO Agent passthrough — deploy-agent uses these verbatim\n  slug: meta.slug || undefined,\n  metaTitle: meta.meta_title || undefined,\n  metaDescription: meta.meta_description || undefined,\n  canonical: meta.canonical || undefined,\n  schemaTypes: brief.schema || undefined,\n  thumbnail: r.thumbnail_url || undefined,\n};\n\nconst dr = await fetch(cfg.DEPLOY_WEBHOOK_URL,{method:'POST',headers:{'Content-Type':'application/json','x-deploy-token':cfg.DEPLOY_TOKEN},body:JSON.stringify(body)});\nconst result = await dr.json();\nif(!dr.ok || !result || result.ok===false){ throw new Error('Deploy failed: HTTP '+dr.status+' '+JSON.stringify(result).slice(0,300)); }\n\nconst publishedUrl = (result.committed && result.committed.url) || result.canonicalUrl || null;\n\n// mark version + request published\nif(r.version_id){\n  await fetch(sbUrl+'/rest/v1/content_versions?id=eq.'+r.version_id,{method:'PATCH',headers:sbH,body:JSON.stringify({status:'published',published_url:publishedUrl,thumbnail_url:r.thumbnail_url||null})});\n}\nawait fetch(sbUrl+'/rest/v1/content_requests?id=eq.'+r.request_id,{method:'PATCH',headers:sbH,body:JSON.stringify({status:'published'})});\n\nreturn [{ json: { ...r, deployed:true, published_url:publishedUrl, repoPath:result.repoPath||null, canonical:result.canonicalUrl||null } }];"
      }
    },
    {
      "id": "ap-learn",
      "name": "Learn & Archive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300],
      "parameters": {
        "jsCode": "const fetch=(u,o={})=>new Promise((res,rej)=>{const iH=u.startsWith('https');const lib=require(iH?'https':'http');const m=u.match(/^https?:\\/\\/([^/:]+)(?::(\\d+))?(\\/[^?#]*)?(\\?[^#]*)?/);if(!m)return rej(new Error('Bad URL: '+u));const body=o.body||null;const req=lib.request({hostname:m[1],port:m[2]?+m[2]:(iH?443:80),path:(m[3]||'/')+(m[4]||''),method:o.method||'GET',headers:{...(o.headers||{}),...(body?{'Content-Length':Buffer.byteLength(body)}:{})}},r=>{let d='';r.on('data',c=>d+=c);r.on('end',()=>res({ok:r.statusCode<300,status:r.statusCode,json:()=>Promise.resolve(JSON.parse(d||'null')),text:()=>Promise.resolve(d)}));});req.on('error',rej);if(body)req.write(body);req.end();});\n\nconst cfg = $('Config').first().json;\nconst r = $json;\nconst sbUrl = cfg.SUPABASE_URL, sbKey = cfg.SUPABASE_SERVICE_KEY;\nconst sbH = { apikey: sbKey, Authorization: 'Bearer '+sbKey, 'Content-Type': 'application/json' };\nconst brief = r.seo_brief || {};\n\n// Resolve website_id from slug map for archive/memory rows.\nconst websiteId = ({grynow:cfg.GRYNOW_WEBSITE_ID,mywall:cfg.MYWALL_WEBSITE_ID,igygrow:cfg.IGYGROW_WEBSITE_ID}[r.website_slug]) || cfg.GRYNOW_WEBSITE_ID;\nconst kw = [(brief.keywords||{}).primary, ...((brief.keywords||{}).secondary||[])].filter(Boolean);\n\n// Extract 3-5 reusable positive patterns with the fast model (best-effort).\nlet patterns = [];\ntry{\n  const hr = await fetch('https://api.anthropic.com/v1/messages',{method:'POST',headers:{'x-api-key':cfg.ANTHROPIC_API_KEY,'anthropic-version':'2023-06-01','Content-Type':'application/json'},body:JSON.stringify({model:cfg.MODEL_FAST||'claude-haiku-4-5-20251001',max_tokens:1024,system:'Extract 3-5 specific, reusable positive writing/SEO patterns from this auto-published, autonomously-approved content. Return ONLY a JSON array.',messages:[{role:'user',content:'Content type: '+r.content_type+'\\nPlacement: '+r.placement+'\\nTopic: '+r.topic+'\\n\\nContent (first 2500 chars):\\n'+(r.content_markdown||'').substring(0,2500)+'\\n\\nReturn JSON array: [{\"pattern_type\":\"positive\",\"category\":\"tone|structure|keywords|formatting|cta\",\"pattern\":\"specific actionable observation\",\"source\":\"approved_content\",\"applies_to_placement\":\"'+r.placement+'\",\"applies_to_content_type\":\"'+r.content_type+'\"}]'}]})});\n  const hd = await hr.json();\n  const text = hd.content && hd.content[0] ? hd.content[0].text : '[]';\n  const m = text.match(/\\`\\`\\`json\\s*([\\s\\S]*?)\\`\\`\\`/) || text.match(/(\\[[\\s\\S]*\\])/);\n  patterns = JSON.parse(m?m[1]:text);\n  if(!Array.isArray(patterns)) patterns=[patterns];\n}catch(e){ patterns=[]; }\n\nif(patterns.length){\n  await fetch(sbUrl+'/rest/v1/memory_patterns',{method:'POST',headers:sbH,body:JSON.stringify(patterns.map(p=>({...p,website_id:websiteId,frequency:1})))});\n}\n\n// Archive the published article (feeds future writer samples + internal links).\nawait fetch(sbUrl+'/rest/v1/content_archive',{method:'POST',headers:sbH,body:JSON.stringify({content_version_id:r.version_id,request_id:r.request_id,website_id:websiteId,placement:r.placement,content_type:r.content_type,topic:r.topic,keywords:kw,word_count:r.word_count,content_excerpt:(r.content_markdown||'').substring(0,500),full_content:r.content_markdown,published_url:r.published_url||null})});\n\nreturn [{ json: { done:true, published_url:r.published_url, patterns_saved:patterns.length, request_id:r.request_id } }];"
      }
    }
  ],
  "connections": {
    "Autopilot Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Autopilot Runner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autopilot Runner": {
      "main": [
        [
          {
            "node": "Thumbnail Agent (stub)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thumbnail Agent (stub)": {
      "main": [
        [
          {
            "node": "Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deploy": {
      "main": [
        [
          {
            "node": "Learn & Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata"
  }
}
