workflows/01-pipeline.json
{
  "name": "01 - Content Pipeline",
  "nodes": [
    {
      "id": "pipe-trigger",
      "name": "Pipeline Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "seo-pipeline",
      "parameters": {
        "httpMethod": "POST",
        "path": "seo-pipeline",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "pipe-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [480, 480],
      "parameters": {
        "respondWith": "text",
        "responseBody": "Pipeline started"
      }
    },
    {
      "id": "pipe-config",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst incoming = raw.body || raw;\nconst config = {\n  SUPABASE_URL: 'YOUR_SUPABASE_URL',\n  SUPABASE_SERVICE_KEY: 'YOUR_SUPABASE_SERVICE_KEY',\n  ANTHROPIC_API_KEY: 'YOUR_ANTHROPIC_API_KEY',\n  GRYNOW_WEBSITE_ID: 'YOUR_GRYNOW_WEBSITE_ID',\n  MYWALL_WEBSITE_ID: 'YOUR_MYWALL_WEBSITE_ID',\n  IGYGROW_WEBSITE_ID: 'YOUR_IGYGROW_WEBSITE_ID',\n  MEMORY_WEBHOOK_URL: 'http://localhost:5678/webhook/seo-memory',\n  REVIEW_WEBHOOK_URL: 'http://localhost:5678/webhook/seo-review',\n  PIPELINE_WEBHOOK_URL: 'http://localhost:5678/webhook/seo-pipeline',\n};\nreturn [{ json: { ...config, ...incoming } }];\n"
      }
    },
    {
      "id": "pipe-runner",
      "name": "Pipeline Runner",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "jsCode": "const fetch=(u,o={})=>new Promise((res,rej)=>{const iH=u.startsWith('https');const lib=require(iH?'https':'http');const m=u.match(/^https?:\\/\\/([^/:]+)(?::(\\d+))?(\\/[^?#]*)?(\\?[^#]*)?/);if(!m)return rej(new Error('Bad URL: '+u));const body=o.body||null;const req=lib.request({hostname:m[1],port:m[2]?+m[2]:(iH?443:80),path:(m[3]||'/')+(m[4]||''),method:o.method||'GET',headers:{...(o.headers||{}),...(body?{'Content-Length':Buffer.byteLength(body)}:{})}},r=>{let d='';r.on('data',c=>d+=c);r.on('end',()=>res({ok:r.statusCode<300,status:r.statusCode,json:()=>Promise.resolve(JSON.parse(d||'null')),text:()=>Promise.resolve(d)}));});req.on('error',rej);if(body)req.write(body);req.end();});\n\nconst cfg = $('Config').first().json;\n\n// Normalise intake — new requests are flat, rework has nested intake object\nconst isFlat = !!cfg.topic;\nconst intake = isFlat ? cfg : (cfg.intake && cfg.intake.topic ? cfg.intake : cfg);\nconst requestId   = cfg.request_id;\nconst startFrom   = cfg.start_from || 'research';\nconst isRework    = cfg.is_rework || false;\nconst reworkFb    = cfg.rework_feedback || null;\nlet websiteId = ({ grynow: cfg.GRYNOW_WEBSITE_ID, mywall: cfg.MYWALL_WEBSITE_ID, igygrow: cfg.IGYGROW_WEBSITE_ID }[intake.website_slug] || cfg.GRYNOW_WEBSITE_ID);\n\nconst sbUrl = cfg.SUPABASE_URL;\nconst sbKey = cfg.SUPABASE_SERVICE_KEY;\nconst sbH   = { 'apikey': sbKey, 'Authorization': 'Bearer ' + sbKey, 'Content-Type': 'application/json' };\n\nasync function sbGet(path) {\n  const r = await fetch(sbUrl + '/rest/v1/' + path, { headers: { apikey: sbKey, Authorization: 'Bearer ' + sbKey } });\n  return r.ok ? r.json() : [];\n}\nasync function sbPatch(table, filter, body) {\n  await fetch(`${sbUrl}/rest/v1/${table}?${filter}`, { method: 'PATCH', headers: sbH, body: JSON.stringify(body) });\n}\nasync function claude(system, user, maxTokens) {\n  const r = await fetch('https://api.anthropic.com/v1/messages', {\n    method: 'POST',\n    headers: { 'x-api-key': cfg.ANTHROPIC_API_KEY, 'anthropic-version': '2023-06-01', 'Content-Type': 'application/json' },\n    body: JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: maxTokens || 4096, system, messages: [{ role: 'user', content: user }] })\n  });\n  const d = await r.json();\n  if (!d.content) throw new Error('Claude error: ' + JSON.stringify(d));\n  return d.content[0].text;\n}\nfunction parseJSON(text) {\n  try {\n    const m = text.match(/```json\\s*([\\s\\S]*?)```/) || text.match(/([\\[{][\\s\\S]*[\\]}])/);\n    return JSON.parse(m ? m[1] : text);\n  } catch(e) { return { _parse_error: true, raw: text.substring(0, 300) }; }\n}\n\nlet researchNotes = cfg.research_brief || null;\nlet contentPlan   = cfg.strategy_brief || null;\n\n// Self-fetch intake + prior research/plan when called from Review Handler (rework, write-only)\nif (startFrom === 'write' && !intake.topic && requestId) {\n  const rr = await fetch(`${sbUrl}/rest/v1/content_requests?id=eq.${requestId}&select=*,websites(slug,name)`, { headers: { apikey: sbKey, Authorization: 'Bearer '+sbKey } });\n  const rrows = await rr.json();\n  if (rrows && rrows[0]) {\n    const rreq = rrows[0];\n    Object.assign(intake, {\n      website_slug: rreq.websites?.slug || 'grynow',\n      website_name: rreq.websites?.name || 'GryNow',\n      website_url:  ({ grynow: 'https://grynow.in', mywall: 'https://mywall.me', igygrow: 'https://www.igygrow.com' }[rreq.websites?.slug] || 'https://grynow.in'),\n      placement: rreq.placement, content_type: rreq.content_type, topic: rreq.topic,\n      keywords: rreq.keywords, keywords_raw: (rreq.keywords||[]).join(', '),\n      layout_notes: rreq.layout_notes||'', additional_brief: rreq.additional_brief||''\n    });\n    researchNotes = researchNotes || rreq.research_brief;\n    contentPlan   = contentPlan   || rreq.strategy_brief;\n  }\n  websiteId = ({ grynow: cfg.GRYNOW_WEBSITE_ID, mywall: cfg.MYWALL_WEBSITE_ID, igygrow: cfg.IGYGROW_WEBSITE_ID }[intake.website_slug] || cfg.GRYNOW_WEBSITE_ID);\n}\n\nconst outlineSeed = (intake.layout_notes && intake.layout_notes.trim())\n  ? intake.layout_notes.trim()\n  : 'No outline supplied by the brief — propose a sensible H1/H2/H3 structure for the topic.';\n\n// ───────────────────────────────────────────── RESEARCH + PLAN ──\nif (startFrom !== 'write') {\n\n  // ── AGENT 1: CONTENT RESEARCHER ──\n  await sbPatch('content_requests', `id=eq.${requestId}`, { status: 'researching' });\n\n  const [kbData, memData] = await Promise.all([\n    sbGet(`knowledge_base?select=category,content&or=(website_id.eq.${websiteId},website_id.is.null)`).catch(()=>[]),\n    sbGet(`memory_patterns?select=pattern_type,pattern&or=(website_id.eq.${websiteId},website_id.is.null)&order=frequency.desc&limit=20`).catch(()=>[]),\n  ]);\n  const kb = {}; (Array.isArray(kbData)?kbData:[]).forEach(d=>{ kb[d.category]=d.content; });\n  const audience = kb['audience'] || intake.additional_brief || `General readers interested in ${intake.topic}.`;\n  const siteKnowledge = [kb['business-overview'], kb['site-overview']].filter(Boolean).join('\\n\\n') || 'No business knowledge available.';\n\n  const researchSys = `You are a Senior Content Researcher. Your job is NOT to write the article — you prepare the structured research notes a writer will use.\\nFor every section in the outline you must: explain the key concept in simple terms; gather the most important facts, insights and explanations; identify common questions readers may have; find practical examples, use cases and scenarios; surface relevant statistics or supporting data when available; note common misconceptions or mistakes readers make; list important subtopics to cover; and write detailed writer notes.\\nDo not write final article content. Produce structured research notes only.`;\n  const researchMsg = `Topic: ${intake.topic}\\nContent type: ${intake.content_type}\\nTarget audience: ${audience}\\nBusiness / site knowledge (factual grounding — do not contradict):\\n${siteKnowledge}\\nSearch intent: infer from the topic (informational / commercial / transactional / navigational)\\nReference keywords (context only — do NOT do keyword analysis): ${intake.keywords_raw || (intake.keywords||[]).join(', ') || 'none'}\\nContent outline / structure from the brief:\\n${outlineSeed}\\nAdditional brief: ${intake.additional_brief || 'None'}\\n\\nReturn ONLY valid JSON in this exact shape:\\n{\"target_audience\":\"\",\"search_intent\":\"informational\",\"sections\":[{\"heading\":\"\",\"key_points\":[],\"reader_questions\":[],\"examples\":[],\"supporting_data\":[],\"misconceptions\":[],\"subtopics\":[],\"writer_notes\":\"\"}]}`;\n\n  researchNotes = parseJSON(await claude(researchSys, researchMsg, 4096));\n  await sbPatch('content_requests', `id=eq.${requestId}`, { research_brief: researchNotes, status: 'strategizing' });\n\n  // ── AGENT 2: CONTENT PLANNER ──\n  const toneHint = intake.placement === 'on-page' ? 'FIRST PERSON — the brand speaks as \"we\"/\"our\".' : 'THIRD PERSON — refer to the brand by name, never \"we\".';\n  const planSys = `You are a Senior Content Planner. Using the research notes, produce a firm editorial plan the writer will follow exactly. You make content decisions only — do NOT do SEO keyword placement, schema markup, or internal-link optimisation. Return ONLY valid JSON.`;\n  const planMsg = `${intake.content_type} | ${intake.placement} → ${toneHint}\\nTopic: ${intake.topic}\\nOutline / structure from the brief:\\n${outlineSeed}\\n\\nResearch Notes:\\n${JSON.stringify(researchNotes,null,2)}\\n\\nReturn ONLY JSON:\\n{\"target_audience\":\"\",\"search_intent\":\"informational\",\"word_count_target\":0,\"word_count_rationale\":\"\",\"depth\":\"in-depth\",\"depth_rationale\":\"\",\"tone\":\"\",\"content_angle\":\"\",\"outline\":[{\"level\":\"h1\",\"text\":\"\",\"notes\":\"\"}],\"cta_text\":\"\",\"cta_placement\":\"end\",\"special_instructions\":\"\"}`;\n\n  contentPlan = parseJSON(await claude(planSys, planMsg, 4096));\n  await sbPatch('content_requests', `id=eq.${requestId}`, { strategy_brief: contentPlan, status: 'drafting' });\n}\n\n// ──────────────────────────────────────────── AGENT 3: WRITER ──\nconst versionsRes = await sbGet(`content_versions?select=version_number&request_id=eq.${requestId}&order=version_number.desc&limit=1`);\nconst versionNumber = (Array.isArray(versionsRes)&&versionsRes.length) ? versionsRes[0].version_number+1 : 1;\n\nconst [kbW, patW, samW] = await Promise.all([\n  sbGet(`knowledge_base?select=category,content&or=(website_id.eq.${websiteId},website_id.is.null)`).catch(()=>[]),\n  sbGet(`memory_patterns?select=pattern_type,pattern&or=(website_id.eq.${websiteId},website_id.is.null)&order=frequency.desc&limit=20`).catch(()=>[]),\n  sbGet(`content_archive?select=topic,content_excerpt&website_id=eq.${websiteId}&content_type=eq.${intake.content_type}&placement=eq.${intake.placement}&order=approved_at.desc&limit=3`).catch(()=>[]),\n]);\n\nconst kbw = {}; (Array.isArray(kbW)?kbW:[]).forEach(d=>{ kbw[d.category]=d.content; });\nconst businessKnowledge = [kbw['business-overview'], kbw['site-overview']].filter(Boolean).join('\\n\\n') || 'Digital platform.';\nconst toneD = intake.placement==='on-page'\n  ? `FIRST PERSON — You ARE ${intake.website_name}. Use \"we\",\"our\",\"us\". Never third person.`\n  : `THIRD PERSON — Authoritative writer. Refer to ${intake.website_name} by name. NEVER \"we\"/\"our\".`;\nconst pos = (Array.isArray(patW)?patW:[]).filter(p=>p.pattern_type==='positive').map(p=>'- '+p.pattern).join('\\n')||'Set the standard.';\nconst neg = (Array.isArray(patW)?patW:[]).filter(p=>p.pattern_type==='negative').map(p=>'- '+p.pattern).join('\\n')||'None yet.';\nconst samp = (Array.isArray(samW)?samW:[]).map(s=>`Topic: ${s.topic}\\nExcerpt: ${s.content_excerpt||''}`).join('\\n\\n---\\n\\n')||'No samples yet.';\nconst reworkSec = isRework&&reworkFb ? `\\n## REWORK FEEDBACK\\nFeedback: ${reworkFb.feedback_text}\\nCategory: ${reworkFb.category} | Severity: ${reworkFb.severity}\\nRe-read your previous draft and properly rework the affected sections — do not just patch.\\n` : '';\n\nconst plan = contentPlan || {};\nconst wSys = `You are a Senior Content Writer for ${intake.website_name}.\\n\\nTONE: ${toneD}\\n\\nBusiness: ${businessKnowledge}\\nBrand Voice: ${kbw['brand-voice']||'Professional, clear, value-focused.'}\\n\\nYour responsibilities: follow the outline exactly; expand the research notes into clear, engaging content; explain concepts in a reader-friendly way; add examples naturally; maintain logical flow between sections; avoid repetition; keep paragraphs short and scannable; use bullets and lists where useful; match the brand voice. Do NOT perform SEO keyword analysis or optimisation.\\nFor each section: introduce the idea, explain it clearly, add practical examples, address common reader questions, and transition naturally to the next section.\\nFollow these patterns:\\n${pos}\\nAvoid:\\n${neg}\\nStyle samples:\\n${samp}`;\nconst wMsg = `Topic: ${intake.topic}\\nContent type: ${intake.content_type} | Placement: ${intake.placement}\\nTarget audience: ${plan.target_audience || (researchNotes||{}).target_audience || intake.additional_brief || 'General readers'}\\nSearch intent: ${plan.search_intent || (researchNotes||{}).search_intent || 'informational'}\\nTarget length: ${plan.word_count_target||1000} words (±10%) | Depth: ${plan.depth||'in-depth'}\\nContent angle: ${plan.content_angle||''}\\nCTA: ${plan.cta_text||''} (placement: ${plan.cta_placement||'end'})\\nSpecial instructions: ${plan.special_instructions||'None'}\\n${reworkSec}\\nContent Plan / Outline:\\n${JSON.stringify(plan,null,2)}\\n\\nResearch Notes:\\n${JSON.stringify(researchNotes,null,2)}\\n\\nWrite the full ${intake.content_type} now. Output ONLY the article content in Markdown, starting with the H1. Do not include any metadata, notes, or commentary.`;\n\nconst contentMd = (await claude(wSys, wMsg, 8096)).trim();\nconst wordCount = (contentMd.replace(/[#>*_`\\[\\]()\\-]/g,' ').match(/\\b[\\w']+\\b/g) || []).length;\n\nreturn [{ json: {\n  content_markdown: contentMd,\n  word_count:       wordCount,\n  version_number:   versionNumber,\n  request_id:       requestId,\n  intake, researchNotes, contentPlan\n}}];\n"
      }
    },
    {
      "id": "pipe-save-version",
      "name": "Save Content Version",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/content_versions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ request_id: $json.request_id, version_number: $json.version_number, content_markdown: $json.content_markdown, word_count: $json.word_count, status: 'under_review' }) }}"
      }
    },
    {
      "id": "pipe-update-status",
      "name": "Update Status to Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/content_requests?id=eq.{{ $('Pipeline Runner').first().json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ status: 'review', current_version: $('Pipeline Runner').first().json.version_number }) }}"
      }
    }
  ],
  "connections": {
    "Pipeline Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Pipeline Runner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Runner": {
      "main": [
        [
          {
            "node": "Save Content Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Content Version": {
      "main": [
        [
          {
            "node": "Update Status to Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata"
  }
}
